<footer class="footer">

	<div class="container text-center">
		<span class="glyphicon glyphicon-heart"></span>
		Written with love by <a href="https://twitter.com/antoni_putra12" target="_blank">Antoni Putra</a>, made better by you.
		<p><br></p>
		<p>&copy; Copyright 2015 All right reserved.</p>
	</div>

</footer>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.min.js" type="text/javascript"></script>
<script src="{{ "/js/goleki.min.js" | prepend: site.baseurl }}" type="text/javascript"></script>
<script type="text/javascript">
	$('.basic').goleki({
		source: 'https://api.github.com/search/repositories',
		jsonData: 'items',
		templates: {
			item: function(obj) {
				return '<a href="'+ obj.html_url +'">'+ obj.full_name +'</a>';
			}
		}
	});

	$('.custom_template').goleki({
		source: 'https://api.github.com/search/repositories',
		jsonData: 'items',
		templates: {
			loading: 'please waiting prend...',
			empty: function(el) {
				return '<a>Keyword ini "<b>'+ el.val() +'</b>" kosong. ga ada isinya</a>';
			},
			item: function(obj) {
				return '<a href="'+ obj.html_url +'" data-result="'+ obj.full_name +'" class="media" style="margin:0px;">\n '+
					'	<div class="media-left">\n '+
					'		<img class="media-object" src="'+ obj.owner.avatar_url +'&s=48" style="width: 24px; height: 24px;">\n '+
					'	</div>\n '+
					'	<div class="media-body">\n '+
					'		<h4 class="media-heading">'+ obj.full_name +'</h4>\n '+
					'		<small>'+ obj.owner.login +'</small>\n '+
					'	</div>\n '+
					'</div>';
			},
			fail: function(el) {
				return '<a href="">Sorry there is no data for keyword : "<b>'+ el.val() +'</b>"</a>';
			}
		}
	});

	$('.with_loading').goleki({
		source: 'https://api.github.com/search/repositories',
		jsonData: 'items',
		templates: {
			item: function(obj) {
				return '<a href="'+ obj.html_url +'" style="color: green;">'+ obj.full_name +'</a>';
			},
			loading: $('.el-loading')
		}
	});

	var localData = [
		'Bandung', 'Batu', 'Bekasi', 'Blitar', 'Bogor', 'Cianjur', 'Cilegon', 'Cimahi', 'Cirebon', 'Depok', 'Jakarta', 'Madiun', 'Magelang', 'Malang', 'Mojokerto', 'Pasuruan', 'Pekalongan', 'Probolinggo', 'Salatiga', 'Semarang', 'South Tangerang', 'Sukabumi', 'Surabaya', 'Surakarta', 'Tasikmalaya', 'Tangerang', 'Tegal', 'Yogyakarta', 'Kediri', 'Serang', 'Purwokerto',
		];
		var localData = $('.local_data').goleki({
			source: localData,
			templates: {}
		});

	$('.event-example').goleki({
		source: 'https://api.github.com/search/repositories',
		jsonData: 'items',
		onSelectItem: function(e, self, $el, obj) {
			e.preventDefault();
			alert(obj.full_name +' is owned by '+ obj.owner.login);
		},
		templates: {
			item: function(obj) {
				return '<a href="'+ obj.html_url +'">'+ obj.full_name +'</a>';
			}
		}
	});
</script>

<!-- Place this tag right after the last button or just before your close body tag. -->
<script async defer id="github-bjs" src="https://buttons.github.io/buttons.js"></script>