<header>
	<div class="container">
		<h1>Goleki.js</h1>
		<p class="lead">Now searching with autocomplete would be easier.</p>

		<a href=""></a>
		
		<div>
			<a class="github-button" href="https://github.com/antoniputra/goleki/fork" data-icon="octicon-repo-forked" data-style="mega" data-count-href="/antoniputra/goleki/network" data-count-api="/repos/antoniputra/goleki#forks_count" data-count-aria-label="# forks on GitHub" aria-label="Fork antoniputra/goleki on GitHub">Fork</a>

			&nbsp;&nbsp;&nbsp;

			<a class="github-button" href="http://github.com/antoniputra/goleki" data-icon="octicon-star" data-style="mega" data-count-href="/antoniputra/goleki/stargazers" data-count-api="/repos/antoniputra/goleki#stargazers_count" data-count-aria-label="# stargazers on GitHub" aria-label="Star antoniputra/goleki on GitHub">Star</a>
		</div>

	</div>
</header>