<div data-spy="affix" data-offset-top="400">
	<div id="side-right" class="side-right">
		<!-- <div class="panel-heading"><b>Examples</b></div> -->
		<ul class="nav">
			<li>
				<a href="#top">Overview</a>
			</li>
			<li>
				<a href="#installation">Installation</a>
			</li>
			<li>
				<a href="#basic-usage">Basic usage</a>
			</li>
			<li>
				<a href="#custom-template">Custom template</a>
			</li>
			<li>
				<a href="#working-with-loading">Working with loading</a>
			</li>
			<li>
				<a href="#local-data">Local Data</a>
			</li>
			<li>
				<a href="#events">Events</a>
			</li>
			<li>
				<a href="#options">Options</a>
			</li>
		</ul>
	</div>
	<div style="margin-top: 16px; padding-left: 16px;">
		<small> <a href="#top">back to top</a> </small>
	</div>
</div>